<div class="register-container">
    <h1>
        Register Form
    </h1>
    <form class="form-container">
        <div>
            <label for="name">
                Your Name
            </label>
            <input  placeholder="Enter your Name" id="name"/>
        </div>
        <div>
            <label for="mail">
                Your Mail
            </label>
            <input  placeholder="Enter your Mail" id="mail"/>
        </div>
        <div>
            <label for="password">
                Your Password
            </label>
            <input  placeholder="Enter your Password" id="password"/>
        </div>
        <div>
            <label for="phoneno">
                Your Phone Number   
            </label>
            <input  placeholder="Enter your Phone No" id="phoneno"/>
        </div>
       <div class="button-container">
        <button>
            Submit
        </button>
       </div>

    </form>
</div>